API_PORT     = # Puerto en el que se ejecutará la API
DEBUG        = # Habilita o deshabilita el modo de depuración (true/false)
DB_NAME      = # Nombre de la base de datos
DB_USER      = # Usuario de acceso a la base de datos
DB_PASSWORD  = # Contraseña del usuario de la base de datos
DB_HOST      = # Dirección IP o nombre del servidor de la base de datos
DB_PORT      = # Puerto de conexión de la base de datos
DB_SCHEMA    = # Nombre del esquema de la base de datos